.board-1 {
  width: 800px;
  height: 100px;
  background-color: white;
  border: 2px solid black;
  display: flex;
}

.black-1 {
  width: 100px;
  height: 100px;
  background-color: black;
  margin-left: 100px;
}

.board-2 {
  width: 800px;
  height: 100px;
  background-color: white;
  border: 2px solid black;
  display: flex;
}

.black-2 {
  width: 100px;
  height: 100px;
  background-color: black;
  margin-right: 100px;
}